<a href="#" id="upload_widget_opener"><img src="http://res.cloudinary.com/memoryln/image/upload/w_600/l_text:helvetica_50_bold:Click to Upload Photo,g_north,y_20,co_rgb:000000,o_50/v1431026046/test_images/demo.jpg"></a>

<!-- <a href="#" id="opener">Upload multiple images</a>
<img src="http://res.cloudinary.com/memoryln/image/upload/w_600/l_text:helvetica_50_bold:Click to Upload Photo,g_north,y_20,co_rgb:000000,o_50/v1431026046/test_images/demo.jpg">
 -->
