<% p = @partials.find { |i| i[:path] == 'circle' } %>
<div class="row circle">
  <div class="col-md-4" data-sr='enter right, flip -90deg, over 3s, reset'class="col-md-4 p1item1" >
      !!!UPDATE THIS SLIDE!!!
      <%= image_tag "#{p[:item3]}", class: "img-responsive img-fit" %>
  </div>
  <div class="col-md-4" data-sr='enter top, flip -90deg, over 3s, reset'class="col-md-4 p1item1" >
    <h1>
      <%= p[:item2] %>
    </h1>
  </div>
  <div class="col-md-4" data-sr='enter right, flip -90deg, over 3s, reset'class="col-md-4 p1item1" >
      <%= image_tag "#{p[:item3]}", class: "img-responsive img-fit" %>
  </div>
</div>

