

<div class="row">
    <h2 data-sr='enter right, move 600px, over 3.3s'>Developer Portfolio</h2>
    <div class="row">
        <div data-sr='enter left, move 500px, over 3.5s' class="col-lg-7 align-justify">
            <h3>LunchBreak.Ninja</h3>
            <p >{ JavaScript, Node.js && Bootstrap }</p>
            <p ><em>Find great places to eat in seconds, no thought required</em></p>
            <p >LunchBreak.Ninja was my first major web development project. It was created help you find a great place to eat within walking distance of your office, no matter where you are. Built on Node.js and utilizing the Yelp and Google Maps APIs as well, it was built from the ground up in a single week and has been maintained since.</p>
        </div>

        <div class="col-lg-2 col-lg-offset-1">
            <img data-sr='enter right, move 80px, over 0.5s' src="img/responsive-lunch.jpg" class='image-responsive portfolio-img'>
        </div>
    </div>
    <a href="http://www.lunchbreak.ninja" class="btn btn-default btn-lg">Visit LunchBreak.Ninja</a>
</div>
