<div class="container">
<div class="row circle">
<div class="col-md-4" data-sr='enter right, flip -90deg, over 3s, reset'class="col-md-4 p1item1" >
    <%= image_tag "babypic2.jpg", class: "img-responsive img-fit" %>
</div>
<div class="col-md-4" data-sr='enter top, flip -90deg, over 3s, reset'class="col-md-4 p1item1" >
Textillate goes here</div>
<div class="col-md-4" data-sr='enter right, flip -90deg, over 3s, reset'class="col-md-4 p1item1" >
    <%= image_tag "babypic2.jpg", class: "img-responsive img-fit" %>
</div>
</div>
</div>