<% p = @partials.find { |i| i[:path] == 'text_left_img_right' } %>
<div data-sr="enter top, hustle 20px, move 100px, spin -30deg, over 1.0s, scale up 20%, reset" class="row two-for-two">
  <div class="row">
    <div class="col-lg-offset-2 col-lg-4">
      <div class="" data-sr="enter left, opacity 0.5, move 600px, spin -150deg, over 3.0s, scale down 30%, reset">
        <h2>
          <%= p[:item1] %>
        </h2>
      </div>
      <div class="" data-sr="enter left, opacity 0.5, move 600px, spin -50deg, over 2.0s, scale down 30%, reset, wait 1.0s">
        <h3>
          <%= p[:item2] %>
        </h3>
      </div>
    </div>
    <div class="col-right-half">
      <div class="" data-sr="enter left, opacity 0.5, move 600px, spin 150deg, over 3.0s, scale up 30%, reset">
        <%= image_tag "#{p[:item3]}", class: 'img-rounded img-responsive img-fit  right' %>
      </div>
    </div>
  </div>
</div>