<% p = @partials.find { |i| i[:path] == 'threes' } %>
<div class="row threes">
  <div data-sr='enter top, move 500px, over 3s, reset'>
      <%= image_tag "#{p[:item1]}", class: "img-responsive img-fit" %>
  </div>
</div>