<div id='content_partial_<%= p[:id] %>' class="row threes">
  <div class="delete-partial-x-styling delete-partial-x" data-idx="<%= p[:id] %>">X</div>
  <div data-sr='enter top, move 500px, over 3s, reset'>
    <a href="#" class="upload_widget_opener" data-idx="<%= p.id %>" data-item="1">
      <%= image_tag "#{p[:item1]}", class: "img-responsive img-fit" %>
    </a>
  </div>
</div>
