<div data-sr="enter left, hustle 20px, move 100px, spin -30deg, over 1.0s, scale up 20%, reset" class="row two-for-two">
  <div class="row">
    <div class="col-lg-4">
      <div data-sr="enter right, hustle 20px, move 600px, spin -150deg, over 3.0s, scale down 30%, reset"><%= image_tag("babypic1.jpg") %></div>
    </div>
    <div class="col-lg-4">
      <div data-sr="enter bottom, hustle 20px, move 600px, over 3.0s, scale up 30%, reset"><%= image_tag("babypic2.jpg") %></div>
    </div>
    <div class="col-lg-4">
      <div data-sr="enter bottom, hustle 20px, move 600px, spin 150deg, over 3.0s, scale up 30%, reset"><%= image_tag("babypic2.jpg") %></div>
    </div>
  </div>
</div>