<div id='content_partial_<%= p[:id] %>', class="slide-100">
  <div class="delete-partial-x-styling delete-partial-x" data-idx="<%= p[:id] %>"><span class="glyphicon glyphicon-remove"></span></div>
  <div class="row block">
    <div class='centered'>
      <h1 data-sr="enter left, roll 1080deg, over 6s, scale up 100%, reset" class="text-edit">
        <%= edit_item_text_link p,1 %><br>
        This is temporary.
      </h1>
      <br>

      <h2 data-sr="enter top, hustle 20px, move 300px, over 3.0s, scale up 40%, opacity 0.0, reset, wait 1.0s">
        <!-- &darr; -->
      </h2>
    </div>
  </div>
</div>




<!-- <div data-sr="enter left, hustle 20px"> Foo </div>
<div data-sr="wait 2.5s, ease-in-out 100px"> Bar </div>
<div data-sr="move 16px scale up 20%, over 2s"> Baz </div>
<div data-sr="enter bottom, roll 45deg, over 2s"> Bun </div>

 -->





