<div id='content_partial_<%= p[:id] %>', class="slide-100">

  <div class="delete-partial-x-styling delete-partial-x" data-idx="<%= p[:id] %>"><span class="glyphicon glyphicon-remove"></span></div>
  <div class="row block">
    <div class='centered'>
      <h1 data-sr="enter top, hustle 20px, move 300px, over 3.0s, scale up 40%, opacity 0.0, reset" class="text-edit">
        <%= edit_item_text_link p,1 %>
      </h1>
      <br>
      <h2 data-sr="enter top, hustle 20px, move 300px, over 3.0s, scale up 40%, opacity 0.0, reset, wait 1.0s">
        &darr;
      </h2>
    </div>
  </div>
</div>












