<div class="sidebar">
<h4 class="sidebarTitle">Choose the order:</h4>
  <ul id="list1" class="pageSort">
    <% @partials.each do |p| %>
    <li id="partial_<%=p.partial.id %>" class="pointerSidebar">
      <%= p.partial.name %>
      <span data-idx="<%= p.partial.id %>" class="glyphicon glyphicon-remove pull-right pointer remove-partial-sidebar"></span>
    </li>
    <% end %>
  </ul>
  <button data-toggle="modal" data-target="#newPartialModal"><span class="glyphicon glyphicon-plus"></span></button>
</div>
<div class="content">
  <ul id="list2" class="pageSort">
    <% @partials.each do |e| %>
    <li><%= render partial: "partials/#{e.partial.path}", locals: {p:e.partial} %></li>

    <% end %>
  </ul>
</div>

<!-- Modal -->

<div class="modal fade" id="newPartialModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editItemTextModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>


