<div class="sidebar">
<h4 class="sidebarTitle">Choose the order:</h4>
  <ul id="list1" class="pageSort">
    <% @partials.each do |p| %>
    <li id="partial_<%=p.partial.id %>" class="pointerSidebar">
      <%= p.partial.name %>
      <span data-idx="<%= p.partial.id %>" class="glyphicon glyphicon-remove pull-right pointer remove-partial-sidebar"></span>
    </li>
    <% end %>
  </ul>
</div>
<div class="content">
  <ul id="list2" class="pageSort">
    <% @partials.each do |e| %>
    <li><%= render partial: "partials/#{e.partial.path}", locals: {p:e.partial} %></li>

    <% end %>
  </ul>
</div>

<!-- Modal -->
<div class="modal fade" id="editItemTextModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

