<div class="container">
  <div col="row">
    <ul id="list1" class="pageSort">
        <% @partials.each do |p| %>
        <li id="partial_<%=p.partial.id %>"><%= p.partial.name %></li>
        <% end %>
  </div>
</div>

  <ul id="list2" class="pageSort">
    <% @partials.each do |e| %>
    <li><%= render partial: "partials/#{e.partial.path}", locals: {p:e.partial} %></li>

    <% end %>
  </ul>

