<div class="container">
hi this is the index page
this is where all projects will be listed
this will also have a link to the edit page for them

<h2>Pages:</h2>
<%= @pages.name %>
</div>

<!-- page.name -->