<div class="container">
<div col="row">
<ul id="list1" class="pageSort">
    <li>Partial 1</li>
    <li>Partial 2</li>
    <li>Partial 3</li>
    <li>Partial 4</li>
</div>
</div>

<ul id="list2" class="pageSort">
  <li><%= render 'partials/partial_featured' %></li>
  <li><%= render 'partials/two_for_two' %></li>
  <li><%= render 'partials/partial_mockup' %></li>
  <li><%= render 'partials/partial_collage' %></li>

</div>
</div>

