<% if @back %>
  <div class="col-lg-offset-5 col-lg-2 back-btn">

    <%= link_to "Back To Edit Page", edit_page_path(@page) %>
  </div>
<% end %>
<div class="<%= @current_background.bg_class %>">
  <ul id="list2" class="pageSort show-partial-list">
    <% @partials.each do |e| %>
    <li><%= render partial: "partials/#{e.partial.path}", locals: {p:e.partial} %></li>
    <% end %>
  </ul>
</div>

<div class="showPageFooter">
  &copy; 2015 Memory Ln
  <p><%= link_to "About", about_path %></p>
</div>