<div class="container">
  <h2 id="aboutPageTitle">Meet the team!</h2>
  <br><br>
  <div class="row">
    <div class="col-md-offset-3">
      <%= image_tag 'TeamPicture.JPG', class: "img-responsive image-fit md-img" %>
    </div>
    <div class="row">
      <div class="col-md-offset-3">
        <br>
        <p id="aboutPageText"> Aida Mengistu, Cody Barrus, Jake Rohr</p>
        <p>Memory Ln is a fun, easy to use web app that allows you to create dynamic, animating pages to share with your friends. It was fully developed in one week as a portfolio piece by Aida Mengistu, Cody Barrus and Jake Rohr.</p>
        <p>Memory Ln was built using Ruby on Rails and JavaScript and utilizes the Cloudinary API and Bootstrap framework.</p>
        <h3>Learn more about the developers</h3>
        <div class="row">
          <div class="col-lg-4">
            <h4>Aida Mengistu</h4>
          </div>
          <div class="col-lg-4">
            <h4>Cody Barrus</h4>
          </div>
          <div class="col-lg-4">
            <h4>Jake Rohr</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>