<div class="container">
  <h2 data-sr='enter top, move 500px, over 2s, reset' id="aboutPageTitle">Meet the team!</h2>
  <br><br>
  <div class="row aboutPage">
    <div data-sr='enter right, wait 1.5s, move 500px, over 2s, reset' class="col-lg-6 col-lg-offset-3">
      <%= image_tag 'TeamPicture.JPG', class: "img-responsive image-fit md-img" %>
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 text-center">
        <div data-sr='enter left, wait 2.5s, move 500px, over 2s, reset' class="row">
          <br>
          <p id="aboutPageText"> Cody Barrus, Jake Rohr, Aida Mengistu</p>
          <p>Memory Ln is a fun, easy to use web app that allows you to create dynamic, animating pages to share with your friends. It was fully developed in one week as a portfolio piece by Cody Barrus, Jake Rohr and Aida Mengistu.</p>
          <p>Memory Ln was built using Ruby on Rails and JavaScript and utilizes the Cloudinary API and Bootstrap framework.</p>
          <h3>Learn more about the developers</h3>
        </div>
        <div class="row">
          <div  data-sr='enter bottom, wait 3.4s, move 500px, over 1s, reset' class="col-lg-4">
            <h4 class="aboutPageName">Cody Barrus</h4>
            <p>Cody Barrus is a full stack web developer, author and creativity enthusiast.</p>
            <ul class="aboutList">
              <li><a href="http://codybarrus.com">Learn More</a></li>
            </ul>
          </div>
          <div  data-sr='enter bottom, wait 3.6s, move 500px, over 1s, reset' class="col-lg-4">
            <h4 class="aboutPageName">Jake Rohr</h4>
            <ul class="aboutList">
              <li><a href="http://jakerohr.com">Learn More</a></li>
            </ul>
          </div>
          <div data-sr='enter bottom, wait 3.0s, move 500px, over 1s, reset' class="col-lg-4">
            <h4 class="aboutPageName">Aida Mengistu</h4>
            <p>Aida Mengistu is a full stack web developer and translator from Seattle, WA.</p>
            <ul class="aboutList">
              <li><a href="http://www.aidamengistu.com">Learn More</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>