<div class="<%= @current_background.bg_class %>">
  <ul id="list2" class="pageSort show-partial-list">
    <% @partials.each do |e| %>
    <li><%= render partial: "partials/#{e.partial.path}", locals: {p:e.partial} %></li>
    <% end %>
  </ul>
</div>
