.collage {
  width:100%;
  overflow: hidden;

  img {
    border-radius: 20px;
    padding: 10px 0px 10px 0;
  }

  p {
    font-size: 24px;
  }

}

.featured {
  overflow: hidden;

    img {
    border-radius: 20px;
    padding: 50px 50px 40px 10px;
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
  }

  p {
    font-size: 20px;
    padding: 70px 50px 40px 10px;
  }
}

.threes {
    overflow: hidden;

    img {
    border-radius: 20px;
    padding: 10px 0 10px 0;
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }
}

.circle {
    overflow: hidden;

  img {
    margin: 50px 10px 10px 0px;
    padding: 10px 10px 0px 10px;
  }
  h1 {
    font-size: 40px;
    padding: 60px 0px 0px 0px;
  }
}

.rollin {
    overflow: hidden;

    img {
    padding: 60px 20px 10px 10px;
  }
}

.pageSort li{
  list-style-type: none;
}

.sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: #C7D0D5;
  text-align: center;
  width: auto;
  // border-top-right-radius: 10px;
  padding-top: 30px;
 }

.content {
  margin-left: 200px;
  height: 100%;
  width: auto;
  position: relative;
  overflow: auto;
  z-index: 1;
}

// Sortable list

ul#list1.pageSort.ui-sortable {
  padding: 0px;
}

#list1 li {
  color: #F5F5F5;
  font-weight: bolder;
  border: solid 2px #F5F5F5;
  padding: 10px;
  border-radius: 10px;
  margin: 2px 10px;
  background-color: #93B1C6;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
 }

#list1 li:hover{
   background-color: #618DAC;
}

 .pointerSidebar:hover {
  cursor:move;

}

.sidebarTitle {
  color: #4b738f;
  font-style: italic;
  text-align: center;
  padding-right: 10px;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}

// Brand "Memory Ln"
.navbar-header .navbar-brand {
  color: #FF7148;
  font-family: 'Chewy', cursive;
  font-size: 45px;
  font-style: italic;
  margin-top: 5px;
}

.navbar-header .navbar-brand:hover {
  color: #618DAC;
}

.navbar {
  background-color: #C7D0D5;
  padding-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

#body {
  background-color: #E4E8EB;
  padding-top: 80px;
  font-family: 'Montserrat', sans-serif;
}

.AllPagesTable {
  width: 50%;
}

.AllPagesTable td {
  padding: 15px;
}

.glyphicon-pencil {
  font-size: 20px;
}

.glyphicon-trash {
  font-size: 20px;
}

// This is the title of the pages index
.allPagesTitle {
  color: #4b738f;
}

// If a user does not have any pages saved, display this message:
.noPagesMsg {
  color: #618dac;
  font-size: 18px;
}

.text-edit a {
  color: black;
}

.text-edit a:link {
    text-decoration: none;
}

.text-edit a:active {
    text-decoration: none;
    color: black;
}

.text-edit a:hover {
  text-decoration: none;
  color: lighten(black, 35%);
}

// This is header of the Create New Page page
.createNewPageTitle {
  color: #4b738f;
  font-size: 39px;
}

.create_button {
  background-color: #4b738f;
  color: #FFFFFF;
  border-radius: 5px;
}

.page_name {
  color: #4b738f;
}

li.navbar-brand.currentUser {
  color: #4b738f;
  padding-left: 30px;
}

li.navbar-brand.currentUser:hover {
  color: #4b738f;
}

.navbar-default .navbar-nav li a{
  color: #4b738f;
}

.navbar-default .navbar-nav li a:hover{
  color: #618DAC;
}

.navbar-default .navbar-nav .open a:focus {
  background-color: #C7D0D5;
  color: #4b738f;
}

.navbar-nav li .dropdown-menu {
  background-color: #C7D0D5;
}

.dropdown-menu li a:hover {
  background-color: #E4E8EB;
}













