
.show-partial-list a,
.show-partial-list img {
  pointer-events: none;
  cursor: default;
}

.edit-partial-list {
  margin-left: 2%;
  margin-right: 2%;
}


nav ul {
  font-size: 1.5em;
}

nav li {
  margin-top: 10px;
}

.delete-partial-x-styling {
  background-color: #C7D0D5;
  color: #93B1C6;
  padding: 0px 5px;
  font-size: 2em;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  float: right;
  margin-left: 1.5%;
  margin-top: 1%;
  z-index: 99;
}

.delete-partial-x-styling:hover {
  cursor:pointer;
  background-color: #93B1C6;
  color: #C7D0D5;
}


.view {
  width: 100vw;
  overflow: hidden;
}

.pointer:hover {
  cursor:pointer;
}

/* Elements */

h1 {
  font-size: 6em;
}

.text-valign {
  display: table-cell;
  vertical-align: middle;
}

.center-text {
  margin-left: 15%;
}

.left {
  text-align: left;
}

.center {
  margin: auto;
}

.right {
  text-align: right;
  float: right;
}

.third {
  width: 33vw;
  height: auto;
  overflow: hidden;
}

.vert-align {
  vertical-align: middle
}

/* Partial Customization */

.text-from-top {

  display: table;
}

.block {
  text-align: center;
  margin: 20px;
  margin-top: 10%;
  min-height: 50vh;
  width: 100%;
}

.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
 }

.centered {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px;
 }
