.delete-partial-x-styling {
  background-color: #C7D0D5;
  color: #93B1C6;
  padding: 2px 12px;
  font-size: 2em;
  border-radius: 100%;
  display: inline-block;
  position: absolute;
  float: right;
  margin-left: 1.5%;
  margin-top: 1%;
  z-index: 99;
}

.delete-partial-x-styling:hover {
  cursor:pointer;
  background-color: #93B1C6;
  color: #C7D0D5;
}


.view {
  width: 100vw;
  overflow: hidden;
}

.pointer:hover {
  cursor:pointer;
}

/* Elements */

h1 {
  font-size: 6em;
}

.text-valign {
  display: table-cell;
  vertical-align: middle;
}

.center-text {
  margin-left: 15%;
}

/* column widths */

.col-left-third {
  width: 33.33%;
  float: left;
}

.col-center-third {
  width: 33.33%;
  display: inline-block;
}

.col-right-third {
  width: 33.33%;
  float: right;
}

.col-left-half {
  width: 50%;
  float: left;
}

.col-right-half {
  width: 50%;
  float: right;
}
.two-for-two {
  background-color: #00BFFF;
}

/* Image Sizes */

.image-fit {
  width: 100%;

}

.xs-img {
  width: 200px;
  height: auto;
  overflow: hidden;
}

.xs-square-img {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.sm-img {
  width: 350px;
  height: auto;
  overflow: hidden;
}

.sm-square-img {
  width: 350px;
  height: 350px;
  overflow: hidden;
}

.md-img {
  width: 500px;
  height: auto;
  overflow: hidden;
}

.md-square-img {
  width: 500px;
  height: 500px;
  overflow: hidden;
}

.lg-img {
  width: 700px;
  height: auto;
  overflow: hidden;
}

.lg-square-img {
  width: 700px;
  height: 700px;
  overflow: hidden;
}

.xl-img {
  width: 900px;
  height: auto;
  overflow: hidden;
}

.xl-square-img {
  width: 900px;
  height: 900px;
  overflow: hidden;
}

.xxl-img {
  width: 1200px;
  height: auto;
  overflow: hidden;
}

.xxl-square-img {
  width: 1200px;
  height: 1200px;
  overflow: hidden;
}

.left {
  text-align: left;
}

.center {
  margin: auto;
}

.right {
  text-align: right;
  float: right;
}

.third {
  width: 33vw;
  height: auto;
  overflow: hidden;
}

.vert-align {
  vertical-align: middle
}

/* Partial Customization */

.text-from-top {

  display: table;
}

.block {
  text-align: center;
  margin: 20px;
  margin-top: 10%;
  min-height: 50vh;
  width: 100%;
}

.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
 }

.centered {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px;
 }
